<script src="https://www.google.com/recaptcha/api.js?render=<%=captcha%>"></script>
<h1>Register</h1>
<h1><%=emailErr%></h1>
<h1><%=captchaErr%></h1>
<form action="/register" method="POST" id="registerForm">
  <input type="hidden" id="g-recaptcha-response" name="g-recaptcha-response">
  <input type="hidden" name="action" value="validate_captcha">
  <div>
    <label for="name">Name</label>
    <input type="text" id="name" name="name" required>
  </div>
  <div>
    <label for="email">Email</label>
    <input type="email" id="email" name="email" required>
  </div>
  <div>
    <label for="password">Password</label>
    <input type="password" id="password" name="password" required>
  </div>
  <button type="submit" id="butt">Register</button>
</form>
<a href="/login">Login</a>


<script>
  let flag = true
     document.getElementById('registerForm').addEventListener('submit', onSubmit);
    
    function onSubmit(e){
      if (flag) {
      document.getElementById("butt").disabled = 'true';

      flag = false
      setTimeout(function(){flag = true; document.getElementById("butt").disabled = 'false';}, 3000)
        
        grecaptcha.execute('<%=captcha%>', {action: 'homepage'}).then(function(token) {

        // This data is not being used in the back end (Only the token), but have it here for you to experiment
        const name = document.querySelector('#name').value;
        const email = document.querySelector('#email').value;
        const password = document.querySelector('#password').value;
        const captcha = token;

            fetch('/register',{
            method: 'POST',
            headers:{
                    'Accept': 'application/json, text/plain, */*',
                    'Content-Type': 'application/json'
                
            },
            body:JSON.stringify({name:name, email:email, password:password, captcha:captcha})
            }).then(res => res.json()).then(data => { alert("msg: " + data.msg + ", success?: " + data.success + ", score: " + data.score)})     
        });
      }
        
    }
</script>